@model LibraryWebApplication.Models.Genre

@{
    ViewData["Title"] = "Детальніше про жанри";
}

<h1>Детальніше про жанри</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre_)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
