@{
    ViewData["Title"] = "Політика використання";
}
<h1>@ViewData["Title"]</h1>

<p>Роботу виконав Бажин Олександр Вадимович, студент групи К-24 ОП "Інформатика" факультету Комп'ютерних наук та кібернетики Київського національного університету імені Тараса Шевченка в рамках лабораторної роботи №1 з дисципліни Інструментальні середовища та технології програмування під керівництвом доцента к.фіз-мат.н. Людмили ОМЕЛЬЧУК.</p>
